:root {
  --primary-color: #09329a;
  --secondary-color: #9fb1d2;
  --heading-font-family: "Signika", sans-serif;
  --default-font-family: "Manrope", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  padding-top: 20px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

h4 {
  font-size: 48px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  font-family: var(--heading-font-family);
}

small {
  opacity: 50%;
  font-size: 12px;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 100px 20px;
  border-radius: 50% 20% / 10% 40%;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 1;
}

.content-container {
  padding: 100px 20px;
}

.content-container h1 {
  font-size: 64px;
  line-height: 80px;
}

.content-container h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content {
  margin: 30px;
}

.content h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
  font-family: var(--default-font-family);
  font-weight: 400px;
  line-height: 21px;
  opacity: 70%;
}

.btn-primary {
  background: var(--primary-color);
  border-radius: 4px;
  border: 1px solid var(--primary-color);
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-secondary-outline {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.homepage-about-me-section {
  padding: 0px 250px 0px 250px;
}

.project-description {
  padding: 0;
}

.line-break {
  padding: 0 35px 45px 35px;
  color: var(--primary-color);
}

.nav-item {
  transition: all 100ms ease-in-out;
}

.nav-link:hover,
.nav-item .active:hover {
  color: var(--primary-color);
}

.primary-card {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border: none;
  display: block;
  margin: 0 auto;
}

.card-body {
  text-align: left;
}

.card-title {
  font-size: 18px;
}

.about-container {
  padding: 50px 20px 0px 20px;
}

.about-container h1 {
  font-size: 64px;
  line-height: 80px;
}

.about-picture {
  border-radius: 50% 20% / 10% 40%;
  width: 400px;
}

.about-paragraph {
  padding: 0px 30px 0px 30px;
  text-align: left;
}

.card-text footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
}

.paragraph-contact {
  padding: 0px 300px 0px 300px;
}

.skill-image img {
  width: 60%;
  height: 35px;
  margin-bottom: 5px;
  object-fit: contain;
}

.reroot-image {
  width: 700px;
}
.paragraph-reroot {
  padding: 0px 150px 0px 150px;
}

footer .contact-box {
  background-color: var(--primary-color);
}

footer .email-link:hover {
  color: var(--primary-color);
}

footer .social-links a:hover {
  color: white;
  background-color: var(--primary-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50px;
}

footer .contact-box {
  background-color: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

@media (max-width: 900px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 44px;
  }

  h4 {
    font-size: 18px;
  }

  .hero {
    padding: 80px 10px;
  }
  .homepage-about-me-section {
    padding: 0px;
  }
  .card-body {
    padding-top: 30px;
  }
  .project-description {
    text-align: center;
    padding: 0;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }
  .paragraph-contact {
    padding: 0px 20px 0px 20px;
  }
  .about-container {
    padding-top: 20px;
  }
  .about-paragraph {
    text-align: center;
    padding: 0px;
  }
  .about-picture {
    width: 300px;
  }
  .paragraph-reroot {
    padding: 20px 20px;
  }
}
